.bitcoin-app {
  border: 1px solid blue;
  color: #1b2ad1;
  position: absolute;
  left: 45%;
  top: 30%;
  text-align: center;
}

.button {
  background-color: white;
  color: #1b2ad1;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}